<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasBMT" aria-labelledby="offcanvasBMTLabel">   
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-white me-3" id="offcanvasBMTLabel">Pesan Towing / Derek <i class="bi-truck-flatbed"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>                 
    
    <ul class="nav nav-tabs justify-content-center" id="pesanTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pesan-sekarang-tab" data-bs-toggle="tab" data-bs-target="#pesan-sekarang" type="button" role="tab" aria-controls="pesan-sekarang" aria-selected="true">Pesan Sekarang</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pesan-terjadwal-tab" data-bs-toggle="tab" data-bs-target="#pesan-terjadwal" type="button" role="tab" aria-controls="pesan-terjadwal" aria-selected="false">Tentukan Jadwal</button>
        </li>
    </ul>

    <div class="tab-content offcanvas-body d-flex flex-column" id="pesanTabContent">
        <!-- Tab Pesan Sekarang -->
        <div class="tab-pane fade show active" id="pesan-sekarang" role="tabpanel" aria-labelledby="pesan-sekarang-tab">
            <div class="text-center my-4">
                <h3><a href="javascript:void(0)" onclick="window.open('https://api.whatsapp.com/send?phone=6281332825750', '_blank')" class="social-icon-item bi-whatsapp"> Whatsapp</a>
                </h3>
            </div>
            <hr>
            <div class="text-center my-4">
                <h3><a href="javascript:void(0)" onclick="window.location.href='tel:6281332825750'" class="social-icon-item bi-telephone"> Panggilan Darurat</a></h3>
            </div>
        </div>

        <!-- Tab Pesan Terjadwal -->
        <div class="tab-pane fade" id="pesan-terjadwal" role="tabpanel" aria-labelledby="pesan-terjadwal-tab">
            <form class="custom-form member-login-form mt-4" action="#" method="post" role="form">
                <div class="customer-schedule-order">
                    <div class="mb-4">
                        <label class="form-label mb-2" for="nama-lengkap">Nama Lengkap</label>
                        <input type="text" name="nama-lengkap" id="nama-lengkap" class="form-control" placeholder="Nama Lengkap" required>
                    </div>
                    <div class="mb-4">
                        <label class="form-label mb-2" for="nomor-kontak">Telepon / Whatsapp</label>
                        <input type="text" name="nomor-kontak" id="nomor-kontak" class="form-control" placeholder="Nomor Telepon / Whatsapp" required>
                    </div>
                    <div class="mb-4">
                        <label class="form-label mb-2 d-block">Jenis Muatan</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="jenis-muatan" id="muatan-mobil" value="Mobil" required>
                            <label class="form-check-label" for="muatan-mobil">Mobil</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="jenis-muatan" id="muatan-motor" value="Motor">
                            <label class="form-check-label" for="muatan-motor">Motor</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="jenis-muatan" id="muatan-lainnya" value="Lainnya">
                            <label class="form-check-label" for="muatan-lainnya">Lainnya</label>
                        </div>
                    </div>                                
                    <div class="mb-4">
                        <label class="form-label mb-2" for="lokasi-muat">Lokasi Muat</label>
                        <input type="text" name="lokasi-muat" id="lokasi-muat" class="form-control" placeholder="Lokasi Muat" required>
                    </div>
                    <div class="mb-4">
                        <label class="form-label mb-2" for="alamat-tujuan">Alamat Tujuan</label>
                        <input type="text" name="alamat-tujuan" id="alamat-tujuan" class="form-control" placeholder="Alamat Tujuan" required>
                    </div>
                    <div class="mb-4">
                        <label class="form-label mb-2" for="tanggal-muat">Tanggal Muat</label>
                        <input type="date" name="tanggal-muat" id="tanggal-muat" class="form-control" placeholder="Tanggal Muat" required>
                    </div>
                    <div class="form-check mb-4">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Centang jika ingin diasuransikan selama proses towing/derek.</label>
                    </div>
                    <div class="col-lg-5 col-md-7 col-8 mx-auto">
                        <button type="submit" class="form-control"><i class="bi-calendar-fill"></i> Buat</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-auto mb-5">
        <hr>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D405B" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
    </div>
</div>