<nav class="navbar navbar-expand-lg">                
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="javascript:void(0)" onclick="window.location.href='index.html'">
        <img src="images/logo.png" class="navbar-brand-image img-fluid" alt="logo-brantas-makmur-towing">
        <span class="navbar-brand-text">
          Brantas
          <small>Makmur Towing</small>
        </span>
      </a>
  
      <div class="d-lg-none ms-auto me-3">
        <a class="btn custom-btn custom-border-btn" role="button" onclick="var el = new bootstrap.Offcanvas(document.getElementById('offcanvasBMT')); el.show();">Pesan Towing/Derek</a>
      </div>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-lg-auto">
          <li class="nav-item">
            <a class="nav-link click-scroll" href="javascript:void(0)" onclick="window.location.href='index.html'">Beranda</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link click-scroll" href="javascript:void(0)" onclick="scrollToSection('about')">Tentang Kami</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link click-scroll" href="javascript:void(0)" onclick="scrollToSection('services')">Jasa</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link click-scroll" href="javascript:void(0)" onclick="scrollToSection('news')">Berita</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link click-scroll" href="javascript:void(0)" onclick="scrollToSection('contact_us')">Hubungi Kami</a>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Halaman
            </a>
            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
              <li><a class="dropdown-item" href="javascript:void(0)" onclick="window.location.href='semua-berita.html'">Semua Berita</a></li>
              <li><a class="dropdown-item" href="javascript:void(0)" onclick="window.location.href='bengkel.html'">Bengkel</a></li>
            </ul>
          </li>
        </ul>
  
        <div class="d-none d-lg-block ms-lg-3">
          <a class="btn custom-btn custom-border-btn" role="button" onclick="var el = new bootstrap.Offcanvas(document.getElementById('offcanvasBMT')); el.show();">Pesan Towing/Derek</a>
        </div>
      </div>
    </div>
  </nav>